@import "tailwindcss";
@import "@rainbow-me/rainbowkit/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-main-background: #dbeafe;
  --color-mainLightBlueHover: #bfdefe;
  --color-white-text: #fff;
  --color-dark-text: #374151;
  --color-mainBlue: #2563eb;
  --color-mainBlueHover: #1d4ed8;
  --color-mainPurple: #eee1fe;
  --color-mainPurpleText: #8a38f5;

  --shadow-for-white-background-frame: 0 4px 4px rgba(0, 0, 0, 0.25);

  --breakpoint-500: 500px;
  --breakpoint-800: 800px;
  --breakpoint-900: 900px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-mainBlue);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-mainBlueHover);
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}

.animate-slide {
  animation: slide 1.2s linear infinite;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
